* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary-color: #861657;
  --secondary-color: #861657;
  --tertiary-color: #6b0f1a;
  --body-text: #00132c; 
}


html,
body {
  min-height: 100%;
}


body { 
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  background-image: linear-gradient(326deg, #861657 30%, #ffa69e 74%), url("./assets/cover/cover-image.jpg");

}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

/*
========================================
Navigation Style
========================================
*/
#header {
  display: flex;
  margin: 5px;
}
.logo {
  color: var(--tertiary-color);
  margin-bottom: 0;
}
span {
  color:#fff;
}
#navigation {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  align-content: center;
  justify-content: center;
}

#navigation a {
  color: var(--tertiary-color);
  text-decoration: none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: rgb(255, 255, 255) !important;
  background-color: transparent !important;
}

/*
========================================
Hero Style
========================================
*/
.hero {
    width: 100vw;
    height: 60vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}
.hero-text {
    text-align: center;
}
.hero h1 {
    font-size: 60px;
    font-weight: lighter;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero-text span {
    color:#fff;
}
.hero h3 {
    margin-top: 10px;
    color: #d6d6d6;
    font-weight: lighter;
}

/* 
========================================
Content Style
========================================
*/
.section-title {
  color:  var(--tertiary-color);
}
.section-content {
  color:  var(--body-text);
}
hr {
  border-top-color:  var(--primary-color) !important;
}
.btn-button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border-color: var(--tertiary-color) !important;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: var(--tertiary-color) !important;
}

.btn-button:hover {
  background-color: rgba(36, 69, 94, 0.8) !important;
  color: #fff !important;
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

.me {
    border-radius: 50%;
    height: 200px;
    margin: auto;
}
/*Contact Me*/

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--tertiary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
  outline: 1px solid var(--tertiary-color);
  resize: none !important;
}
textarea:focus {
  outline: 1px solid var(--primary-color);
  resize: none !important;
}


li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}
.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}
#portfolio h1 {
  font: 15px/24px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95A3A3;
}

/* Portfolio Content */
.cards {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  height: 500px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--tertiary-color), 0 6px 12px var(--tertiary-color);
}

.cards .img-container {

  text-align: center;
  border-radius: 10px;

}

.cards .img-container img {
  width: 100%;
  padding: 20px;
}

.cards .content {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}



#tools {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
  color: var(--tertiary-color);
}

#card-title {
  margin-top: 20px;
  color: var(--tertiary-color);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.content a, .content a:visited { color: #861657; } 
.content a:hover, .content a:focus { color: #6b0f1a; }
/*Resume*/
#resume{
  font-size: 26px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  padding: 10px;
}

#footer {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  width:100%;

}

/* social links */

footer a, footer a:visited { color: rgba(255, 255, 255, 0.8); }
footer a:hover, footer a:focus { color: #11ABB0; }

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;

}

footer .social-links li:first-child { margin-left: 0; }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575 px*/
.cards {
  height: 450px;
}
.row {
  margin: 0 auto !important;
}
}
